<div class="div-middle">
  <div class="wrapper-City-field-button">
    <span class="city">{{city ? city : "Zurigo"}}</span>
    <span class="weathar">{{description}}</span>
    <span class="degress">{{degrees ? degrees : 0}}℃</span>
  </div>
  <div class="wrapper-data">
    <div class="container-data-first">Cloudiness: {{cloudiness}}%</div>
    <div class="container-data-center">Humidity: {{humidity}}%</div>
    <div class="container-data-third">Wind Speed: {{windSpeed ? windSpeed: 0}} m/s</div>
  </div>
  <hr>
  <div class="wrapper-btn-input">
    <input type="text" class="input-city" placeholder="Write your city..." (keyup)="handlerCity($event)">
    <button class="send-btn" (click)="sendRequest()">Change Location</button>
  </div>
</div>